<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
</head>
<body>
<div class="wrapper">
<h1>Dashboard</h1>
<p>This page will contain a dashboard of data</p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on("data", function(data) {
	console.log(data);
    });
</script>
<div></div>
</body>
</html>


